<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-livegrid service="hrdb@Employee" name="livegrid1">
                    <wm-grid dataset="bind:Variables.HrdbEmployeeData.dataSet" name="grid1" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true">
                        <wm-grid-column binding="eid" caption="eid" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="firstname" caption="firstname" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="lastname" caption="lastname" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="street" caption="street" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="city" caption="city" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="state" caption="state" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="zip" caption="zip" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="birthdate" caption="birthdate" type="date" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="picurl" caption="picurl" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="twitterid" caption="twitterid" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform dataset="bind:Variables.HrdbEmployeeData.dataSet" name="liveform1" novalidate="false" height="200">
                        <wm-form-field key="eid" display-name="eid" show="true" type="integer" primary-key="true" generator="identity" readonly="true" required="true" placeholder="Enter value"></wm-form-field>
                        <wm-form-field key="firstname" display-name="firstname" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="lastname" display-name="lastname" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="street" display-name="street" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="city" display-name="city" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="state" display-name="state" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="2" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="zip" display-name="zip" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="birthdate" display-name="birthdate" show="true" type="date" primary-key="false" generator="null" readonly="false" required="false" placeholder="Select date"></wm-form-field>
                        <wm-form-field key="picurl" display-name="picurl" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="twitterid" display-name="twitterid" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="40" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="department" display-name="department" show="true" type="list" primary-key="false" generator="assigned" is-related="true"></wm-form-field>
                        <wm-form-field key="employee" display-name="employee" show="true" type="list" primary-key="false" generator="null" is-related="true"></wm-form-field>
                        <wm-form-field key="tenantid" display-name="tenantid" show="true" type="integer" primary-key="false" generator="null" readonly="false" required="false" placeholder="Enter value"></wm-form-field>
                        <wm-form-action key="cancel" display-name="cancel" show="true" class="form-cancel" iconname="remove-circle" action="formCancel()" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" display-name="save" show="true" class="form-save btn-success" iconname="save" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
                <wm-composite name="composite1" widget="text">
                    <wm-label name="label2" class="col-md-2"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>